﻿@model CustomerSearchInternal.ViewModels.CustomerSearchViewModel

<table id="orderDetailTable" class="table">
    <thead>
        <tr>
			<th></th>
            <th>Line #</th>
            <th>Trans. Type</th>
            <th>Prod. Line</th>
            <th>Prod. Code</th>
            <th>Prod. Description</th>
            <th>Quantity</th>
            <th>Vendor ID</th>
            <th>Vendor Name</th>
            <th colspan="2">Forms Amt</th>
            <th colspan="2">Comm. Amt</th>
            <th>Margin Amt</th>
            <th>Freight Amt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CustomerSearchInternal.Models.OrderDetail detail in Model.OrderDetail)
        {
            <tr>
				<td></td>
                <td>@detail.LineItemNumber</td>
                <td>@detail.TransactionType</td>
                <td>@detail.ProductLine</td>
                <td>@detail.ProductCode</td>
                <td>@detail.ProductDescription</td>
                <td>@detail.Quantity</td>
                <td>@detail.VendorID</td>
                <td>@detail.VendorName</td>
                <td colspan="2">@detail.FormsAmount.ToString("0.00")</td>
                <td colspan="2">@detail.CommissionAmount.ToString("0.00")</td>
                <td>@detail.MarginAmount.ToString("0.00")</td>
                <td>@detail.FreightAmount.ToString("0.00")</td>
            </tr>
        }
    </tbody>
</table>
