﻿@model CustomerSearchInternal.ViewModels.CustomerSearchViewModel

<div id="resultsDivContainer">
    <div class="row col-lg-12 shading" style="text-align:center; border: solid 1px lightgray; margin-top:25px; min-height: 200px; border: solid 1px lightgray;">
        <!--Title and Display Type-->
        <div style="border-bottom: solid 1px lightgray; padding-top: 2px;">
            <table style="margin: 0 auto;">
                <tbody>
                    <tr>
                        <td>
                            <div style="float: right !important;">
                                <ul id="searchTypeList" style="display:inline;">
                                    <li style="display: inline-block;">
                                        <p style="font-weight:bold;">Display Type:</p>
                                    </li>
                                    <li style="padding-right: 2px;">
                                        <p>Compact</p>
                                    </li>
                                    <li style="display: inline; padding-right:10px; padding-left:2px;">
                                        @Html.CheckBoxFor(model => model.SearchCriteria.IsAproSearch, new { id = "checkBoxAproSearch" })
                                    </li>
                                    <li style="display: inline; padding-right: 2px;">
                                        <p>Stretch</p>
                                    </li>
                                    <li style="padding-left:2px;">
                                        @Html.CheckBoxFor(model => model.SearchCriteria.IsCustomerSearch, new { id = "checkBoxCustomerSearch" })
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <h4 style="text-align:center;text-shadow: 0 0 3px #414e6e;">Search Results</h4>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--Results Table-->
        <div style="overflow-x:scroll; overflow-y: scroll;">
            <div style="width:3200px;">
                <table id="resultsTableStretched" class="table table-bordered" style="page-break-before: always; text-align:center;max-width:100%;height:100%;width:100%; font-size:11px; margin: 0 auto; vertical-align: middle !important; table-layout:fixed;">
                    <thead>
                        <tr style="background-color: #e6f2ff; text-align:center !important;">
                            <th id="columnHeaders" height="30px;">Expand/Collapse</th>
                            <th id="columnHeaders" height="30px;"><input id="chkBoxSelectAllRows" type="checkbox" style="margin: 0px; padding: 0px;" /></th>
                            <th id="columnHeaders">Dist. Id</th>
                            <th id="columnHeaders">Dist. Name</th>
                            <th id="columnHeaders">Dist. Phone #</th>
                            <th id="columnHeaders">Dist. Fax #</th>
                            <th id="columnHeaders">Dist. Email</th>
                            <th id="columnHeaders">Last Inv. Date</th>
                            <th id="columnHeaders">First Order Date</th>
                            <th id="columnHeaders">Last Order Date</th>
                            <th id="columnHeaders">Cust. Status</th>
                            <th id="columnHeaders">BPCS Cust. #</th>
                            <th id="columnHeaders">Ext. Cust. #</th>
                            <th id="columnHeaders">Bill To Name</th>
                            <th id="columnHeaders">Bill To Addr1</th>
                            <th id="columnHeaders">Bill To Addr2</th>
                            <th id="columnHeaders">Bill To City</th>
                            <th id="columnHeaders">Bill To State</th>
                            <th id="columnHeaders">Bill To Zip</th>
                            <th id="columnHeaders">Bill To Phone</th>
                            <th id="columnHeaders">Ship To Name</th>
                            <th id="columnHeaders">Ship To Addr1</th>
                            <th id="columnHeaders">Ship To Addr2</th>
                            <th id="columnHeaders">Ship To City</th>
                            <th id="columnHeaders">Ship To State</th>
                            <th id="columnHeaders">Ship To Zip</th>
                            <th id="columnHeaders">Name Match</th>
                            <th id="columnHeaders">Address Match</th>
                            <th id="columnHeaders">Phone Match</th>
                            <th id="columnHeaders">Rotation Exception</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                            foreach (CustomerSearchInternal.Models.CustomerDetail customer in Model.CustomerSearchResult.Customers)
                            {
                                <tr class="customerMatchRow" id="@i">
                                    <input type="hidden" id="hiddenId" value="@i">
                                    <td style="vertical-align: middle !important;">
                                        <button id="btnExpandCollapse" style="background-color: transparent"><img class="btnCollapsed" height="20" width="20" src="~/Content/img/expandIcon.png" /></button>
                                    </td>
                                    <td><input type="checkbox" /></td>
                                    <td>@customer.DistributorID</td>
                                    <td>@customer.DistributorName</td>
                                    <td>@customer.DistributorPhoneNumber</td>
                                    <td>@customer.DistributorFaxNumber</td>
                                    <td>@customer.DistributorEmailAddress</td>
                                    <td>@customer.LastInvoiceDate</td>
                                    <td>@customer.FirstOrderDate</td>
                                    <td>@customer.LastOrderDate</td>
                                    <td>@customer.CustomerStatus</td>
                                    <td id="bpcsCustomerNumber">@customer.BPCSCustomerNumber</td>
                                    <td>@customer.ExternalCustomerNumber</td>
                                    <td>@customer.BillToName</td>
                                    <td>@customer.BillToAddress1</td>
                                    <td>@customer.BillToAddress2</td>
                                    <td>@customer.BillToCity</td>
                                    <td>@customer.BillToState</td>
                                    <td>@customer.BillToZip</td>
                                    <td>@customer.BillToPhone</td>
                                    <td>@customer.ShipToName</td>
                                    <td>@customer.ShipToAddress1</td>
                                    <td>@customer.ShipToAddress2</td>
                                    <td>@customer.ShipToCity</td>
                                    <td>@customer.ShipToState</td>
                                    <td>@customer.ShipToZip</td>
                                    <td>@customer.NameMatch</td>
                                    <td>@customer.AddressMatch</td>
                                    <td>@customer.PhoneMatch</td>
                                    <td>@customer.DoNotRotate</td>
                                </tr>

                                <!--Order History Table Row-->
                                <tr class="orderHistoryRow" id="@i" style="display: none; border-top: none;">
                                    <td colspan="8" style="border-top: none;">
                                        <div>
                                            <table id="orderHistoryPartialViewParentTable" class="table">
                                                <tbody>
                                                    <tr>
                                                        <td style="display: none"><input type="hidden" id="hiddenCurrentBpcsCustomerNum" />@customer.BPCSCustomerNumber</td>
                                                    </tr>
                                                    <tr id="orderHistoryRow" style="margin-top:30px; margin-bottom: 30px; border: none; text-align: center;">
                                                        <!--Order History Table-->
                                                        <td COLSPAN="8" id="orderHistoryPartialView" class="@i">
                                                            @{
                                                                Html.Partial("~/Views/Customer/PartialViews/_OrderHistory.cshtml");
                                                            }
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



