﻿@model CustomerSearchInternal.ViewModels.CustomerSearchViewModel

<div id="resultsDivContainer">
    <div class="row col-lg-12 shading" style="text-align:center; border: solid 1px lightgray; margin-top:25px; min-height: 200px; border: solid 1px lightgray;">
        <!--SEARCH CRITERIA LABEL, ROW 1-->
        @*background-color: #e6f2ff;*@
        <div style="border-bottom: solid 1px lightgray; padding-top: 2px;">
            <table style="margin: 0 auto;">
                <tbody>
                    <tr>
                        <td>
                            <div style="float: right !important;">
                                <ul id="searchTypeList" style="display:inline;">
                                    <li style="display: inline-block;">
                                        <p style="font-weight:bold;">Display Type:</p>
                                    </li>
                                    <li style="padding-right: 2px;">
                                        <p>Condensed</p>
                                    </li>
                                    <li style="display: inline; padding-right:10px; padding-left:2px;">
                                        @Html.CheckBoxFor(model => model.SearchCriteria.IsAproSearch, new { id = "checkBoxAproSearch" })
                                    </li>
                                    <li style="display: inline; padding-right: 2px;">
                                        <p>Expanded</p>
                                    </li>
                                    <li style="padding-left:2px;">
                                        @Html.CheckBoxFor(model => model.SearchCriteria.IsCustomerSearch, new { id = "checkBoxCustomerSearch" })
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <h4 style="text-align:center;text-shadow: 0 0 3px #414e6e;">Search Results</h4>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        @if (Model.CustomerSearchResult.Customers == null || Model.CustomerSearchResult.Customers.Count <= 0)
        {
            <div>
                @if (Model.CustomerSearchResult.WasSearchPerformed)
                {
                    <div style="position:absolute;">
                        <input class="printButton" height="20" width="20" type="image" src="~/Content/img/printer.png" />
                    </div>
                    <div style="text-align:center;">
                        <h2 style="text-align:center; color:black; border-bottom: none;text-shadow: 0 0 4px gray;">No Match Found</h2>
                    </div>
                }
                else
                {
                    <div id="lblPleasePerformSearchToDisplayResults">
                        <h4 style="text-align:center; color:black; border-bottom: none;text-shadow: 0 0 3px gray; margin-top: 5%;">Please perform a customer search to display results.</h4>
                    </div>
                }
            </div>
        }
        else
        {
            <div>
                @if (Model.CustomerSearchResult.Customers.Count > 1)
                {
                    <h4 style="margin-bottom:0px;padding-bottom:0px; text-align:left; border-bottom: none;">@Model.CustomerSearchResult.Customers.Count Matches Found</h4>
                }
                else
                {
                    <h4 style="text-align:left; border-bottom: none;">1 Match Found</h4>
                }
                @*<span style="float:left; font-size:10px; padding-right:3%;">Ref # <span id="referenceNumber" style="float:right; font-size:10px;">@Model.CustomerSearchResult.ReferenceNumber</span></span>
                <span style="float:right; font-size:12px;"><label class="btn-link" id="btnExpandCollapseAll">Expand All Details</label></span>*@
            </div>
            <div style="overflow-x:scroll; overflow-y:scroll; max-height: 500px; border: 1px solid lightgray;">
                <table id="resultsTable" class="table table-striped" style="page-break-before: always; text-align:center;max-width:100%;height:100%;width:100%; font-size:11px; margin: 0 auto; vertical-align: middle !important; table-layout:fixed;border-bottom: 1px solid lightgray;">
                    <thead>
                        <tr style="background-color: white; text-align:center !important;">
                            <th id="columnHeaders" height="30px;"></th>
                            <th id="columnHeaders" height="30px;"><input id="chkBoxSelectAllRows" type="checkbox" style="margin: 0px; padding: 0px;" /></th>
                            <th id="columnHeaders" height="30px;">Distributor Id</th>
                            <th id="columnHeaders" height="30px;">Distributor Name</th>
                            <th id="columnHeaders" height="30px;">Name Match</th>
                            <th id="columnHeaders" height="30px;">Address Match</th>
                            <th id="columnHeaders" height="30px;">Phone Match</th>
                            <th id="columnHeaders" height="30px;">Rotation Exception</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                            foreach (CustomerSearchInternal.Models.CustomerDetail customer in Model.CustomerSearchResult.Customers)
                            {
                                string rowColor = string.Empty;
                                if (i % 2 == 0)
                                {
                                    rowColor = "background-color: #f3f3f4";
                                }
                                else
                                {
                                    rowColor = "background-color: white";
                                }

                                <!--Search Results Header Row-->
                                <tr id="SearchResultsHeaderRow" style="@rowColor">
                                    <input type="hidden" id="hiddenId" value="@i">
                                    <td style="vertical-align: middle !important;">
                                        <button id="btnExpandCollapse" style="background-color: transparent"><img class="btnCollapsed" height="20" width="20" src="~/Content/img/expandIcon.png" /></button>
                                    </td>
                                    <td>@Html.CheckBoxFor(x => customer.IsChecked, new { id = "selectRowCheckbox" })</td>
                                    <td>@customer.DistributorID</td>
                                    <td>@customer.DistributorName</td>
                                    <td>@customer.NameMatch</td>
                                    <td>@customer.AddressMatch</td>
                                    <td>@customer.PhoneMatch</td>
                                    <td>@customer.DoNotRotate</td>
                                </tr>

                                <!--Search Results Details Rows-->
                                <tr class="detailsRow" id="@i" style="display: none; @rowColor">
                                    <!--Distributor Details-->
                                    <td COLSPAN=2 style="border-top: none;">
                                        <table id="fixedHeightTableRows" class="table table-bordered shading" style="height: 250px;">
                                            <thead>
                                                <tr style="height: 10px;">
                                                    <th colspan="2" style="text-align: center; background-color: #e6f2ff;">Distributor Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="">
                                                    <td id="ValueLabel" style="float: left; border: none; font-weight: bold; padding: 2px; padding-left: 5px;">Dist. Id:</td>
                                                    <td class="distributorId" id="ValueField" style="border:none; padding: 2px;">@customer.DistributorID</td>
                                                </tr>
                                                <tr>
                                                    <td id="ValueLabel" style="float: left; border: none; font-weight: bold; padding: 2px; padding-left: 5px;">Dist. Name:</td>
                                                    <td class="distributorName" id="ValueField" style="border:none; padding: 2px;">@customer.DistributorName</td>
                                                </tr>
                                                <tr>
                                                    <td id="ValueLabel" style="float: left; border: none; font-weight: bold; padding: 2px; padding-left: 5px;">Dist. Phone:</td>
                                                    <td class="distributorPhone" id="ValueField" style="border:none; padding: 2px;">@customer.DistributorPhoneNumber</td>
                                                </tr>
                                                <tr>
                                                    <td id="ValueLabel" style="float: left; border: none; font-weight: bold; padding: 2px; padding-left: 5px;">Dist. Fax:</td>
                                                    <td class="distributorFax" id="ValueField" style="border:none; padding: 2px;">@customer.DistributorFaxNumber</td>
                                                </tr>
                                                <tr>
                                                    <td id="ValueLabel" style="float: left; border: none; font-weight: bold; padding: 2px; padding-left: 5px;">Dist. Email:</td>
                                                    <td class="distributorEmail" id="ValueField" style="border:none; padding: 2px;">@customer.DistributorEmailAddress</td>
                                                </tr>
                                                <tr>
                                                    <td id="ValueLabel" style="float: left; border: none;"></td>
                                                    <td id="ValueField" style="border:none;"></td>
                                                </tr>
                                                <tr>
                                                    <td id="ValueLabel" style="float: left; border: none;"></td>
                                                    <td id="ValueField" style="border:none;"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>

                                    <!--Bill to Details-->
                                    <td COLSPAN=2 style="border-top: none;">
                                        <table id="fixedHeightTableRows" class="table table-bordered shading" style="height: 250px;">
                                            <thead>
                                                <tr style="height: 10px;">
                                                    <th colspan="2" style="text-align: center; background-color: #e6f2ff;">Bill To Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td id="ValueLabel" style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Bill Name:</td>
                                                    <td class="billName" id="ValueField" style="border:none; padding: 2px;">@customer.BillToName</td>
                                                </tr>
                                                <tr>
                                                    <td id="ValueLabel" style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Bill Addr1:</td>
                                                    <td class="billAddr1" id="ValueField" style="border:none; padding: 2px;">@customer.BillToAddress1</td>
                                                </tr>
                                                <tr>
                                                    <td id="ValueLabel" style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Bill Addr2:</td>
                                                    <td class="billAddr2" id="ValueField" style="border:none; padding: 2px;">@customer.BillToAddress2</td>
                                                </tr>
                                                <tr>
                                                    <td id="ValueLabel" style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Bill City:</td>
                                                    <td class="billCity" id="ValueField" style="border:none; padding: 2px;">@customer.BillToCity</td>
                                                </tr>
                                                <tr>
                                                    <td id="ValueLabel" style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Bill State:</td>
                                                    <td class="billState" id="ValueField" style="border:none; padding: 2px;">@customer.BillToState</td>
                                                </tr>
                                                <tr>
                                                    <td id="ValueLabel" style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Bill Zip:</td>
                                                    <td class="billZip" id="ValueField" style="border:none; padding: 2px;">@customer.BillToZip</td>
                                                </tr>
                                                <tr>
                                                    <td id="ValueLabel" style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Bill Phone:</td>
                                                    <td class="billPhone" id="ValueField" style="border:none; padding: 2px;">@customer.BillToPhone</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>

                                    <!--Ship to Details-->
                                    <td COLSPAN=2 style="border-top: none;">
                                        <table id="fixedHeightTableRows" class="table table-bordered shading" style="height: 250px;">
                                            <thead>
                                                <tr style="height: 10px;">
                                                    <th colspan="2" style="text-align: center; background-color: #e6f2ff;">Ship To Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Ship Name:</td>
                                                    <td class="shipName" style="border:none; padding: 2px;">@customer.ShipToName</td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Ship Addr1:</td>
                                                    <td class="shipAddr1" style="border:none; padding: 2px;">@customer.ShipToAddress1</td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Ship Addr2:</td>
                                                    <td class="shipAddr2" style="border:none; padding: 2px;">@customer.ShipToAddress2</td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Ship City:</td>
                                                    <td class="shipCity" style="border:none; padding: 2px;">@customer.ShipToCity</td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Ship State:</td>
                                                    <td class="shipState" style="border:none; padding: 2px;">@customer.ShipToState</td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Ship Zip:</td>
                                                    <td class="shipZip" style="border:none; padding: 2px;">@customer.ShipToZip</td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left; border:none;"></td>
                                                    <td style="border:none;"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>

                                    <!--General Details-->
                                    <td COLSPAN=2 style="border-top: none;">
                                        <table id="fixedHeightTableRows" class="table table-bordered shading" style="height: 250px;">
                                            <thead>
                                                <tr style="height: 10px;">
                                                    <th colspan="2" style="text-align: center; background-color: #e6f2ff;">General Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="float: left; border: none; font-weight:bold; padding: 2px; padding-left: 5px;">First Order Date:</td>
                                                    @{
                                                        string firstOrderDate = string.Empty;
                                                        if (customer.FirstOrderDate != DateTime.MinValue)
                                                        {
                                                            firstOrderDate = customer.FirstOrderDate.ToShortDateString();
                                                        }

                                                        <td class="firstOrderDate" style="border:none; padding: 2px;">@firstOrderDate</td>
                                                    }
                                                </tr>
                                                <tr>
                                                    <td style="float: left; border: none; font-weight:bold; padding: 2px; padding-left: 5px;">Last Order Date:</td>
                                                    @{
                                                        string lastOrderDate = string.Empty;
                                                        if (customer.LastOrderDate != DateTime.MinValue)
                                                        {
                                                            lastOrderDate = customer.LastOrderDate.ToShortDateString();
                                                        }

                                                        <td class="lastOrderDate" style="border:none; padding: 2px;">@lastOrderDate</td>
                                                    }
                                                </tr>
                                                <tr>
                                                    <td style="float: left; border: none; font-weight:bold; padding: 2px; padding-left: 5px;">Last Invoice Date:</td>
                                                    @{
                                                        string lastInvoiceDate = string.Empty;
                                                        if (customer.LastInvoiceDate != DateTime.MinValue)
                                                        {
                                                            lastInvoiceDate = customer.LastInvoiceDate.ToShortDateString();
                                                        }

                                                        <td class="lastInvoiceDate" style="border:none; padding: 2px;">@lastInvoiceDate</td>
                                                    }
                                                </tr>
                                                <tr>
                                                    <td style="float: left; border: none; font-weight:bold; padding: 2px; padding-left: 5px;">Customer Status:</td>
                                                    <td class="customerStatus" style="border:none; padding: 2px;">@customer.CustomerStatus</td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left; border: none; font-weight:bold; padding: 2px; padding-left: 5px;">BPCS Customer Number</td>
                                                    <td class="bpcsCustNum" style="border:none; padding: 2px;">@customer.BPCSCustomerNumber</td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left; border: none; font-weight:bold; padding: 2px; padding-left: 5px;">Ext. Cust Number</td>
                                                    <td class="externalCustNum" style="border:none; padding: 2px;">@customer.ExternalCustomerNumber</td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left; border: none;"></td>
                                                    <td style="border:none;"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <!--Order History Button Row-->
                                <tr class="@i" id="orderHistoryButtonRow" style="display: none; border-top: none;">
                                    <td COLSPAN=8 style="border-top: none;">
                                        <button id="@customer.BPCSCustomerNumber" class="btn btn-warning GetOrderHistoryButton">Show Order History</button>
                                        <div class="loader loaderOrderHistory" id="@i" style="height:20px; width: 20px; position:relative;"></div>
                                        <input type="hidden" id="hiddenId" value="@i">
                                    </td>
                                </tr>

                                <!--Order History Table Row-->
                                <tr class="orderHistoryRow" id="@i" style="display: none; border-top: none;">
                                    <td colspan="8" style="border-top: none;">
                                        <div>
                                            <table id="orderHistoryPartialViewParentTable" class="table">
                                                <tbody>
                                                    <tr>
                                                        <td style="display: none"><input type="hidden" id="hiddenCurrentBpcsCustomerNum" />@customer.BPCSCustomerNumber</td>
                                                    </tr>
                                                    <tr id="orderHistoryRow" style="margin-top:30px; margin-bottom: 30px; border: none; text-align: center;">
                                                        <!--Order History Table-->
                                                        <td COLSPAN="8" id="orderHistoryPartialView" class="@i">
                                                            @{
                                                                Html.Partial("~/Views/Customer/PartialViews/_OrderHistory.cshtml");
                                                            }
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>

                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div style="margin-top: 20px;">
                <button id="btnExportNoMatch" class="btn btn-info" style="width: 180px;">Export No Match</button>
                <button id="btnExportToExcel" class="btn btn-info" style="width: 180px;">Export Without History</button>
                <button id="btnExportToExcel" class="btn btn-info" style="width: 180px;">Export With History</button>
            </div>
        }
    </div>
</div>