﻿@model CustomerSearchInternal.ViewModels.CustomerSearchViewModel

<!--Loading Wheel-->
<div class="loader" id="loader"></div>

<!--1ST COLUMN-->
<div class="col-lg-4">
	<table>
		<tr>
			<td>
				@Html.TextBoxFor(model => model.SearchCriteria.Name, new { @class = "customTextbox", placeholder = "Name", id = "txtName" })
			</td>
		</tr>
		<tr>
			<td>
				@Html.TextBoxFor(model => model.SearchCriteria.Address, new { @class = "customTextbox", placeholder = "Address", id = "txtAddress" })
			</td>
		</tr>
		<tr>
			<td>
				@Html.TextBoxFor(model => model.SearchCriteria.City, new { @class = "customTextbox", placeholder = "City", id = "txtCity" })
			</td>
		</tr>
	</table>
</div>

<!--2ND COLUMN-->
<div class="col-lg-4 text-center">
	<table>
		<tr>
			<td>
				@Html.DropDownListFor(model => model.SearchCriteria.State, Model.States.Select(state => new SelectListItem() { Text = state.Name, Value = state.Code, Selected = state.Code == Model.SearchCriteria.State }), new { @class = "customTextbox", id = "dropDownStates" })
			</td>
		</tr>
		<tr>
			<td>
				@Html.TextBoxFor(model => model.SearchCriteria.Zip, new { @class = "customTextbox", placeholder = "Zip", id = "txtZip" })
			</td>
		</tr>
		<tr>
			<td>
				@Html.TextBoxFor(model => model.SearchCriteria.Phone, new { @class = "customTextbox", placeholder = "Phone", id = "txtPhone" })
			</td>
		</tr>
	</table>
</div>

<!--3RD COLUMN-->
<div class="col-lg-4 text-center">
	<table>
		<tr>
			<td>
				@Html.TextBoxFor(model => model.SearchCriteria.DistributorId, new { @class = "customTextbox", placeholder = "Distributor Id", id = "txtDistributorId" })
			</td>
		</tr>
		<tr>
			<td>
				@Html.TextBoxFor(model => model.SearchCriteria.CustomerId, new { @class = "customTextbox", placeholder = "Customer Id", id = "txtCustomerId" })
			</td>
		</tr>
		<tr>
			<td>
				@Html.TextBoxFor(model => model.SearchCriteria.ExternalCustomerId, new { @class = "customTextbox", placeholder = "External Customer Id", id = "txtExternalCustomerId" })
			</td>
		</tr>
	</table>
</div>

<div style="margin-top:150px;">
	<ul style="list-style-type: none; display:inline;">
		<li style="display: inline;">
			@Html.Label("StartDate", "Order History Date Range:")
		</li>
		<li style="display: inline;">
			@Html.EditorFor(model => model.SearchCriteria.StartDate, new { @class = "datepicker", id = "datePickerStartDate" })
		</li>
		<li style="display: inline;">
			@Html.Label("EndDate", "To:")
		</li>
		<li style="display: inline;">
			@Html.EditorFor(model => model.SearchCriteria.EndDate, new { @class = "datepicker", id = "datePickerEndDate" })
		</li>
	</ul>
</div>
