﻿
@{
	ViewBag.Title = "Search";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="~/Content/Custom.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Custom/CheckboxFunctionality.js"></script>
<script src="~/Scripts/Custom/DetailsFunctionality.js"></script>
<script src="~/Scripts/Custom/ExpandCollapseCustomerRow.js"></script>
<script src="~/Scripts/Custom/ExpandCollapseOrderDetail.js"></script>
<script src="~/Scripts/Custom/OrderHistoryFunctionality.js"></script>
<script src="~/Scripts/Custom/LoaderWheel.js"></script>
<script src="~/Scripts/Custom/ImportSpreadsheetFunctionality.js"></script>
<script src="~/Scripts/Custom/ClearButton.js"></script>

<div class="" style="text-align:center;">
	<!--Timeout Message-->
	<div id="divTimeout" style="display: none;">
		<h3>Session About To Timeout</h3>
		<hr />
		<p>To remain active, please move your mouse over this window.</p>
	</div>

	<!--The search criteria fields-->
	<div class="row" style="margin-left: 15px !important; margin-right: -30px !important;">
		@{
			Html.RenderPartial("~/Views/Customer/PartialViews/_SearchCriteria.cshtml");
		}
	</div>

	<!--THE SEARCH RESULTS-->
	<div class="row" style="margin-left: 15px !important; margin-right: -30px !important;">
		<div id="resultsDivContainer">
			@{
				Html.RenderPartial("~/Views/Customer/PartialViews/_Results.cshtml");
			}
		</div>
	</div>
</div>

