﻿@page {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

body {
    font-family: 'Times New Roman' !important;
}

* {
    font-family: 'Times New Roman' !important;
}


/*#fixedHeightTableRows {
    table-layout: fixed;
}

#fixedHeightTableRows td {
    height: 20px;
}

    #fixedHeightTableRows #ValueLabel {
        width: 100%;
        float: left;
    }

    #fixedHeightTableRows #ValueFields {
        width: 100%;
    }*/

    .btnCollapsed {
        background-image: url('img/expandIcon.png');
    }

.btnExpanded {
    background-image: url('img/collapseIcon.png');
}

.input-disabled {
    background-color: #EBEBE4;
    border: 1px solid #ABADB3;
    padding: 2px 1px;
}

#dropDownStates {
    color: gray;
}

#divTimeout {
    display: none;
    text-align: center;
    width: 200px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    z-index: 10001;
    font-family: 'Times New Roman';
    font-size: 12px;
    box-shadow: 1px 1px 5px 2px darkgray;
    margin-top: 0px;
}

#hidden_div {
    display: none;
}

/*PRINTING*/
.printButton {
    height: 7% !important;
    width: 7% !important;
}

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.leftSearchPanel {
    max-height: 500px;
    border-right: 1px solid lightgray;
    background-color: red;
}

.customTextbox {
    font-family: 'Times New Roman';
    background: #ffffff;
    border: darkGray 1px solid;
    padding: 8px;
    width: 220px;
    color: black;
    margin-top: 10px;
    font-size: 11px;
    display: inline;
    box-shadow: 3px 3px 5px gray;
}

.customTextboxImportSpreadsheet {
	font-family: 'Times New Roman';
	background: #ffffff;
	border: darkGray 1px solid;
	padding: 0px;
	width: 180px;
	color: black;
	margin-top: 0px;
	font-size: 11px;
	box-shadow: 1px 1px 3px gray;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: white;
    background-attachment: fixed;
    background-size: 100% auto;
}

/*Detail Row Labels and Values*/
#lastOrderDateDetailsDiv {
    padding-top: 0px;
}

#billToDetailsDiv {
    padding-top: 20px;
}

#shipToDetailsDiv {
    padding-top: 70px;
}

.profile p {
    margin: 0px;
}

.profile .label {
    /*vertical-align: top;*/
    float: left;
    width: 40%;
    color: black;
    font-family: 'Times New Roman';
    font-size: 10px;
    margin-top: 4px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.profile .value {
    /*vertical-align: top;*/
    float: left;
    width: 60%;
    color: black;
    font-family: 'Times New Roman';
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/*Responsive Results table*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    #resultsTable, #resultsTable thead, #resultsTable tbody, #resultsTable th, #resultsTable td, #resultsTable tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        #resultsTable thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
            overflow: auto;
        }

        #resultsTable tr {
            overflow: auto;
            border-bottom: 1px solid #eee;
        }

            #resultsTable tr td {
                /* Behave  like a "row" */
                border: none;
                /*border-bottom: 1px solid #eee;*/
                position: relative;
                padding-left: 50%;
                overflow: auto;
            }

                #resultsTable tr td:before {
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 6px;
                    left: 6px;
                    width: 45%;
                    padding-right: 1px;
                    white-space: nowrap;
                    overflow: auto;
                }

            #resultsTable tr #tdHidden1 {
                overflow: auto;
                display: none;
            }

            #resultsTable tr #tdHidden2 {
                overflow: auto;
                display: none;
            }

            #resultsTable tr #tdHidden3 {
                overflow: auto;
                display: none;
            }

            #resultsTable tr #tdHidden4 {
                overflow: auto;
                display: none;
            }

            #resultsTable tr #tdHidden5 {
                overflow: auto;
                border: none;
            }

            #resultsTable tr #tdHidden6 {
                overflow: auto;
                border: none;
            }

            /*
	Label the data
	*/
            #resultsTable tr td:nth-of-type(1):before {
                content: "Distributor: ";
            }

            #resultsTable tr td:nth-of-type(2):before {
                content: "Name Match: ";
            }

            #resultsTable tr td:nth-of-type(3):before {
                content: "Address Match: ";
            }

            #resultsTable tr td:nth-of-type(4):before {
                content: "Phone Match: ";
            }

            #resultsTable tr td:nth-of-type(5):before {
                content: "Status: ";
            }

            #resultsTable tr td:nth-of-type(6):before {
                content: "Details: ";
            }

            #resultsTable tr #tdHidden5::before {
                content: "";
            }

    .popup {
        width: 66.66666666%;
        margin-left: 16.666666%;
        font-size: 9px;
    }
}



/* POP UP for reference number*/
.popup {
    top: -100%;
    padding: 15px;
    left: 0;
    border: 2px solid lightgray;
    border-radius: 10px;
    background: white;
    position: absolute;
    top: 15%;
    box-shadow: 1px 1px 1px gray;
    z-index: 10001;
    font-family: 'Times New Roman';
    font-size: 12px;
}

.overlay {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
}

@media (min-width: 268px) {
    .popup {
        width: 66.66666666%;
        margin-left: 16.666666%;
        font-size: 9px;
    }
}

@media (min-width: 768px) {
    .popup {
        width: 66.66666666%;
        margin-left: 16.666666%;
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    .popup {
        width: 50%;
        margin-left: 25%;
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    .popup {
        width: 33.33333%;
        margin-left: 33.33333%;
        font-size: 12px;
    }
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #eee;
    margin: 2em 0;
    padding: 0;
}

h1, h2 {
    margin-bottom: 1em;
    border-bottom: 2px solid #eee;
    line-height: 1.5;
}

    h1 > small {
        color: #666;
    }

        h1 > small > a,
        p > a {
            color: #3CB371;
            text-decoration: none;
        }

            h1 > small > a:hover,
            p > a:hover {
                text-decoration: underline;
            }

/* Buttons styles */
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="submit"].btn,
button.btn {
    cursor: pointer;
}

a.btn, .btn {
    margin-right: 1em; /* remove this while use*/
    margin-bottom: 1em; /* remove this while use*/
    display: inline-block;
    outline: none;
    *zoom: 1;
    text-align: center;
    text-decoration: none;
    font-family: inherit;
    letter-spacing: 1px;
    vertical-align: middle;
    border: 1px solid;
    transition: all 0.2s ease;
    box-sizing: border-box;
    text-shadow: 0 1px 0 rgba(0,0,0,0.01);
    border-width: 1px;
}
/* Radius */
.btn-radius {
    border-radius: 3px;
}
/* Sizes */
.btn-small {
    font-size: 0.8125em;
    padding: 0.4125em 1.25em;
}

.btn-medium {
    font-size: 0.9375em;
    padding: 0.5375em 1.375em;
}

.btn-large {
    font-size: 1.0625em;
    padding: 0.5625em 1.5em;
}

/* Colors */
.btn-green {
    background-color: transparent;
    color: #3CB371;
    border-color: #3CB371;
}

    .btn-green:hover {
        background: #3CB371;
        color: #fff;
        border-color: #3CB371;
    }

.btn-blue {
    background-color: transparent;
    color: #4682B4;
    border-color: #4682B4;
}

    .btn-blue:hover {
        background: #4682B4;
        color: #fff;
        border-color: #4682B4;
    }

.btn-lightBlue {
    background-color: transparent;
    color: #7ac0fa;
    border-color: #7ac0fa;
}

    .btn-lightBlue:hover {
        background: #7ac0fa;
        color: #fff;
        border-color: #7ac0fa;
    }

.btn-darkGray {
    background-color: transparent;
    color: #3d3d3d;
    border-color: #3d3d3d;
}

    .btn-darkGray:hover {
        background: #3d3d3d;
        color: #fff;
        border-color: #3d3d3d;
    }

.btn-orange {
    width: 65px;
    background-color: transparent;
    color: #FF8C00;
    border-color: #FF8C00;
}

    .btn-orange:hover {
        background: #FF8C00;
        color: #fff;
        border-color: #FF8C00;
    }

.btn-red {
    width: 65px;
    background-color: transparent;
    color: #B22222;
    border-color: #B22222;
}

    .btn-red:hover {
        background: #B22222;
        color: #fff;
        border-color: #B22222;
    }

.btn-gray {
    color: #808080;
    border-color: #808080;
}

    .btn-gray:hover {
        background: #808080;
        color: #fff;
        border-color: #808080;
    }

.shading {
	-webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.6);
	-moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.6);
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.6);
}

/*Loader*/
.loader {
    display: none;
    z-index: 1000;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 16px solid #7ac0fa; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*Alert Message*/
.alert {
    display: none;
    z-index: 1000;
    padding: 20px;
    background-color: #3CB371;
    color: white;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 700px;
    height: 60px;
}

.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    .closebtn:hover {
        color: black;
    }

#columnHeaders {
    /*-webkit-column-width: 130px;
    -moz-column-width: 130px;
    column-width: 130px;*/
    text-align: center;
    font-weight: bold;
    height: 10px;
    line-height: 10px;
}

#btnRemoveFilters:hover {
    text-shadow: 0 0 7px #B22222;
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        }
