﻿@model CustomerSearchInternal.ViewModels.CustomerSearchViewModel

<div id="importDivContainer">
	<table id="fixedHeightTableRows" class="table">
		<thead>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<p>Search count exceeded the maximum allowed count. Do you want the batch service to process this file?</p>
				</td>
			</tr>
			<tr>
				<td>
					<div class="col-lg-12" style="height:50px; padding-top:30px; padding-bottom:60px; border-right: solid 1px lightgray;">
						<input id="btnShouldProcessViaBatchYes" type="submit" value="Yes" class="btn btn-success" style="border-radius:5px; border-width:1px; width: 150px;" />
						<input id="btnShouldProcessViaBatchNo" type="submit" value="No" class="btn btn-danger" style="border-radius:5px; border-width:1px; width: 150px;" />
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
