﻿@model CustomerSearchInternal.ViewModels.CustomerSearchViewModel

<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
<div id="popupBody">
	<h4 style="border-bottom: solid 1px lightgray;">Import Spreadsheet</h4>
	<div id="importDivContainer">
		@{ Html.RenderPartial("~/Views/Customer/PartialViews/_ImportSpreadsheetInitialView.cshtml"); }
	</div>
</div>