﻿@model CustomerSearchInternal.ViewModels.CustomerSearchViewModel

<div id="importDivContainer">
	<table id="fixedHeightTableRows" class="table">
		<thead>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td id="ValueLabel" style="float: left; border: none; width:100%; font-weight: bold; padding: 10px;">Email Address:</td>
				<td id="ValueField" style="border:none; width:60%;">@Html.TextBoxFor(model => model.ImportRequest.EmailAddress, new { @class = "customTextboxImportSpreadsheet", placeholder = "Email Address...", id = "txtEmailAddress" })</td>
			</tr>
			<tr>
				<td id="ValueLabel" style="float: left; border: none; width:100%; font-weight: bold; padding: 10px;">Include History?</td>
				<td id="ValueField" style="border:none; width:60%;">@Html.DropDownListFor(m => m.ImportRequest.ExcludeHistory, new List<SelectListItem>() { new SelectListItem { Text = "No", Value = "No" }, new SelectListItem { Text = "Yes", Value = "Yes" } }, new { @class = "customTextboxImportSpreadsheet", id = "dropDownIncludeHistory" })</td>
			</tr>
			<tr>
				<td id="ValueLabel" style="float: left; border: none; width:100%; font-weight: bold; padding: 10px;">Exclude Distributors?</td>
				<td id="ValueField" style="border:none; width:60%;">@Html.DropDownListFor(m => m.ImportRequest.ExcludeDistributor, new List<SelectListItem>() { new SelectListItem { Text = "No", Value = "No" }, new SelectListItem { Text = "Yes", Value = "Yes" } }, new { @class = "customTextboxImportSpreadsheet", id = "dropDownExcludeDist" })</td>
			</tr>
			<tr id="distToExcludeRow" style="display: none;">
				<td id="ValueLabel" style="float: left; border: none; width:100%; font-weight: bold; padding: 10px;">Distributors to Exclude:</td>
				<td id="ValueField" style="border:none; width:60%;">@Html.TextBoxFor(model => model.ImportRequest.DistributorsToExlude, new { @class = "customTextboxImportSpreadsheet", placeholder = "Dist. to Exclude...", id = "txtDistToExclude" })</td>
			</tr>
			<tr id="distToExcludeMessageRow" style="display: none;">
				<td colspan="2" id="ValueLabel" style="border: none; width:100%; font-weight: bold; padding: 10px;">Please enter the four digit distributor number separated by a comma (no spaces) for multiple distributor numbers.</td>
			</tr>
			<tr style="text-align: center; padding-bottom: 0px; padding-top: 50px;">
				<td style="padding-bottom: 0px; padding-top: 40px;"><input type="submit" class="btn btn-success" value="Submit" id="btnSubmitImportSpreadsheetForBatch" /></td>
				<td style="padding-bottom: 0px; padding-top: 40px;"><input type="submit" class="btn btn-warning" value="Cancel" id="btnSubmitImportSpreadsheetCancel" /></td>
			</tr>
		</tbody>
	</table>
</div>

