﻿@model CustomerSearchInternal.ViewModels.CustomerSearchViewModel
<div id="resultsDivContainer">
	<div class=" row col-lg-12 shading" style="text-align:center; border: solid 1px lightgray; margin-top:25px; min-height: 200px; max-height: 900px; border: solid 1px lightgray;">
		<!--SEARCH CRITERIA LABEL, ROW 1-->
		<div style="border-bottom: solid 1px lightgray">
			<div>
				<h4 style="text-align:center;text-shadow: 0 0 3px gray;">Import Search Results</h4>
			</div>
		</div>
		<div style="overflow-x:scroll; overflow-y:scroll; max-height: 600px; border: 1px solid lightgray;">
			<table id="resultsTable" class="table table-striped" style="page-break-before: always; text-align:center; max-width:100%; height:100%;width:100%; font-size:11px; margin: 0 auto; vertical-align: middle !important; table-layout:fixed;border-bottom: 1px solid lightgray;">
				<thead>
					<tr style="background-color: #e6f2ff; text-align:center !important;">
						<th id="columnHeaders" height="30px;"></th>
						<th id="columnHeaders" height="30px;"><input type="checkbox" style="margin: 0px; padding: 0px;" /></th>
						<th id="columnHeaders" height="30px;">Distributor Id</th>
						<th id="columnHeaders" height="30px;">Distributor Name</th>
						<th id="columnHeaders" height="30px;">Name Match</th>
						<th id="columnHeaders" height="30px;">Address Match</th>
						<th id="columnHeaders" height="30px;">Phone Match</th>
						<th id="columnHeaders" height="30px;">Rotation Exception</th>
					</tr>
				</thead>
				<tbody>
					@{
						int i = 0;
						foreach (CustomerSearchInternal.Models.SearchResult result in Model.ImportResult.Results)
						{
							string rowColor = string.Empty;
							if (i % 2 == 0)
							{
								rowColor = "background-color: #f3f3f4";
							}
							else
							{
								rowColor = "background-color: white";
							}
							<!--Search criteria displayed-->
							<tr id="SearchCriteriaHeaderRow" style="@rowColor">
								<input type="hidden" id="hiddenId" value="@i">
								<td colspan="8" style="font-weight: bolder;">@result.Criteria.CriteriaString</td>
							</tr>

							foreach (CustomerSearchInternal.Models.CustomerDetail customer in result.Customers)
							{
								<!--Search Results Header Row-->
								<tr id="SearchResultsHeaderRow" style="@rowColor">
									<input type="hidden" id="hiddenId" value="@i">
									<td style="vertical-align: middle !important;">
										<button id="btnExpandCollapse" style="background-color: transparent"><img class="btnCollapsed" height="20" width="20" src="~/Content/img/expandIcon.png" /></button>
									</td>
									<td><input type="checkbox" /></td>
									<td>@customer.DistributorID</td>
									<td>@customer.DistributorName</td>
									<td>@customer.NameMatch</td>
									<td>@customer.AddressMatch</td>
									<td>@customer.PhoneMatch</td>
									<td>@customer.DoNotRotate</td>
								</tr>

								<!--Search Results Details Rows-->
								<tr class="detailsRow" id="@i" style="display: none; @rowColor">
									<!--Distributor Details-->
									<td COLSPAN=2 style="border-top: none;">
										<table id="fixedHeightTableRows" class="table table-bordered shading" style="height: 250px;">
											<thead>
												<tr style="height: 10px;">
													<th colspan="2" style="text-align: center;">Distributor Details</th>
												</tr>
											</thead>
											<tbody>
												<tr style="">
													<td id="ValueLabel" style="float: left; border: none; font-weight: bold; padding: 2px; padding-left: 5px;">Dist. Id:</td>
													<td id="ValueField" style="border:none; padding: 2px;">@customer.DistributorID</td>
												</tr>
												<tr>
													<td id="ValueLabel" style="float: left; border: none; font-weight: bold; padding: 2px; padding-left: 5px;">Dist. Name:</td>
													<td id="ValueField" style="border:none; padding: 2px;">@customer.DistributorName</td>
												</tr>
												<tr>
													<td id="ValueLabel" style="float: left; border: none; font-weight: bold; padding: 2px; padding-left: 5px;">Dist. Phone:</td>
													<td id="ValueField" style="border:none; padding: 2px;">@customer.DistributorPhoneNumber</td>
												</tr>
												<tr>
													<td id="ValueLabel" style="float: left; border: none; font-weight: bold; padding: 2px; padding-left: 5px;">Dist. Fax:</td>
													<td id="ValueField" style="border:none; padding: 2px;">@customer.DistributorFaxNumber</td>
												</tr>
												<tr>
													<td id="ValueLabel" style="float: left; border: none; font-weight: bold; padding: 2px; padding-left: 5px;">Dist. Email:</td>
													<td id="ValueField" style="border:none; padding: 2px;">@customer.DistributorEmailAddress</td>
												</tr>
												<tr>
													<td id="ValueLabel" style="float: left; border: none;"></td>
													<td id="ValueField" style="border:none;"></td>
												</tr>
												<tr>
													<td id="ValueLabel" style="float: left; border: none;"></td>
													<td id="ValueField" style="border:none;"></td>
												</tr>
											</tbody>
										</table>
									</td>

									<!--Bill to Details-->
									<td COLSPAN=2 style="border-top: none;">
										<table id="fixedHeightTableRows" class="table table-bordered" style="height: 250px;">
											<thead>
												<tr style="height: 10px;">
													<th colspan="2" style="text-align: center;">Bill To Details</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td id="ValueLabel" style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Bill Name:</td>
													<td id="ValueField" style="border:none; padding: 2px;">@customer.BillToName</td>
												</tr>
												<tr>
													<td id="ValueLabel" style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Bill Addr1:</td>
													<td id="ValueField" style="border:none; padding: 2px;">@customer.BillToAddress1</td>
												</tr>
												<tr>
													<td id="ValueLabel" style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Bill Addr2:</td>
													<td id="ValueField" style="border:none; padding: 2px;">@customer.BillToAddress2</td>
												</tr>
												<tr>
													<td id="ValueLabel" style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Bill City:</td>
													<td id="ValueField" style="border:none; padding: 2px;">@customer.BillToCity</td>
												</tr>
												<tr>
													<td id="ValueLabel" style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Bill State:</td>
													<td id="ValueField" style="border:none; padding: 2px;">@customer.BillToState</td>
												</tr>
												<tr>
													<td id="ValueLabel" style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Bill Zip:</td>
													<td id="ValueField" style="border:none; padding: 2px;">@customer.BillToZip</td>
												</tr>
												<tr>
													<td id="ValueLabel" style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Bill Phone:</td>
													<td id="ValueField" style="border:none; padding: 2px;">@customer.BillToPhone</td>
												</tr>
											</tbody>
										</table>
									</td>

									<!--Ship to Details-->
									<td COLSPAN=2 style="border-top: none;">
										<table id="fixedHeightTableRows" class="table table-bordered" style="height: 250px;">
											<thead>
												<tr style="height: 10px;">
													<th colspan="2" style="text-align: center;">Ship To Details</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Ship Name:</td>
													<td style="border:none; padding: 2px;">@customer.ShipToName</td>
												</tr>
												<tr>
													<td style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Ship Addr1:</td>
													<td style="border:none; padding: 2px;">@customer.ShipToAddress1</td>
												</tr>
												<tr>
													<td style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Ship Addr2:</td>
													<td style="border:none; padding: 2px;">@customer.ShipToAddress2</td>
												</tr>
												<tr>
													<td style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Ship City:</td>
													<td style="border:none; padding: 2px;">@customer.ShipToCity</td>
												</tr>
												<tr>
													<td style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Ship State:</td>
													<td style="border:none; padding: 2px;">@customer.ShipToState</td>
												</tr>
												<tr>
													<td style="float: left; border:none; font-weight: bold; padding: 2px; padding-left: 5px;">Ship Zip:</td>
													<td style="border:none; padding: 2px;">@customer.ShipToZip</td>
												</tr>
												<tr>
													<td style="float: left; border:none;"></td>
													<td style="border:none;"></td>
												</tr>
											</tbody>
										</table>
									</td>

									<!--General Details-->
									<td COLSPAN=2 style="border-top: none;">
										<table id="fixedHeightTableRows" class="table table-bordered" style="height: 250px;">
											<thead>
												<tr style="height: 10px;">
													<th colspan="2" style="text-align: center;">General Details</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td style="float: left; border: none; font-weight:bold; padding: 2px; padding-left: 5px;">First Order Date:</td>
													@{
														string firstOrderDate = string.Empty;
														if (customer.FirstOrderDate != DateTime.MinValue)
														{
															firstOrderDate = customer.FirstOrderDate.ToShortDateString();
														}

														<td style="border:none; padding: 2px;">@firstOrderDate</td>
													}
												</tr>
												<tr>
													<td style="float: left; border: none; font-weight:bold; padding: 2px; padding-left: 5px;">Last Order Date:</td>
													@{
														string lastOrderDate = string.Empty;
														if (customer.LastOrderDate != DateTime.MinValue)
														{
															lastOrderDate = customer.LastOrderDate.ToShortDateString();
														}

														<td style="border:none; padding: 2px;">@lastOrderDate</td>
													}
												</tr>
												<tr>
													<td style="float: left; border: none; font-weight:bold; padding: 2px; padding-left: 5px;">Last Invoice Date:</td>
													@{
														string lastInvoiceDate = string.Empty;
														if (customer.LastInvoiceDate != DateTime.MinValue)
														{
															lastInvoiceDate = customer.LastInvoiceDate.ToShortDateString();
														}

														<td style="border:none; padding: 2px;">@lastInvoiceDate</td>
													}
												</tr>
												<tr>
													<td style="float: left; border: none; font-weight:bold; padding: 2px; padding-left: 5px;">Customer Status:</td>
													<td style="border:none; padding: 2px;">@customer.CustomerStatus</td>
												</tr>
												<tr>
													<td style="float: left; border: none; font-weight:bold; padding: 2px; padding-left: 5px;">BPCS Customer Number</td>
													<td style="border:none; padding: 2px;">@customer.BPCSCustomerNumber</td>
												</tr>
												<tr>
													<td style="float: left; border: none; font-weight:bold; padding: 2px; padding-left: 5px;">Ext. Cust Number</td>
													<td style="border:none; padding: 2px;">@customer.ExternalCustomerNumber</td>
												</tr>
												<tr>
													<td style="float: left; border: none;"></td>
													<td style="border:none;"></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>

								<!--Order History Button Row-->
								<tr class="@i" id="orderHistoryButtonRow" style="display: none; border-top: none;">
									<td COLSPAN=8 style="border-top: none;">
										<button id="@customer.BPCSCustomerNumber" class="btn btn-warning GetOrderHistoryButton">Show Order History</button>
										<div class="loader loaderOrderHistory" id="@i" style="height:20px; width: 20px; position:relative;"></div>
										<input type="hidden" id="hiddenId" value="@i">
									</td>
								</tr>

								<!--Order History Table Row-->
								<tr class="orderHistoryRow" id="@i" style="display: none; border-top: none;">
									<td colspan="8" style="border-top: none;">
										<div>
											<table id="orderHistoryPartialViewParentTable" class="table">
												<tbody>
													<tr>
														<td style="display: none"><input type="hidden" id="hiddenCurrentBpcsCustomerNum" />@customer.BPCSCustomerNumber</td>
													</tr>
													<tr id="orderHistoryRow" style="margin-top:30px; margin-bottom: 30px; border: none; text-align: center;">
														<!--Order History Table-->
														<td COLSPAN="8" id="orderHistoryPartialView" class="@i">
															@{
																Html.Partial("~/Views/Customer/PartialViews/_OrderHistory.cshtml");
															}
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</td>
								</tr>
							}

							i++;
						}
					}
				</tbody>
			</table>
		</div>
		<div style="margin-top: 20px;">
			<button id="btnExportToExcel" class="btn btn-info" style="width: 180px;">Export No Match</button>
			<button id="btnExportToExcel" class="btn btn-info" style="width: 180px;">Export Without History</button>
			<button id="btnExportToExcel" class="btn btn-info" style="width: 180px;">Export With History</button>
		</div>
	</div>
</div>