﻿@model CustomerSearchInternal.ViewModels.CustomerSearchViewModel
@{
    <div class="shading" style="height: 300px; max-height: 300px; overflow-y: scroll; border: solid 1px lightgray;">
		<div style="text-align: center; font-weight: bold;">Order History</div>
         <table id="orderTable" class="table" style="font-size: 10px;">
            <thead>
                <tr style="text-align:center !important;">
                    <th></th>
                    <th>Order Date</th>
                    <th>Order #</th>
                    <th>Ext. Order #</th>
                    <th>Order Dist. Id</th>
                    <th>PO Number</th>
                    <th>Invoice #</th>
                    <th>Invoice Date</th>
                    <th>Ship Details</th>
                    <th>Invoice Total</th>
                    <th>Total Forms Amt</th>
                    <th>Total Comm. Amt</th>
                    <th>Total Margin Amt</th>
                    <th>Total Freight Amt</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.OrderHistory.Count > 0)
                {
                    int i = 0;
                    foreach (CustomerSearchInternal.Models.OrderHistory order in Model.OrderHistory)
                    {
                <tr id="orderHistoryActualRow" class="@i">
                    <input id="hiddenIsDetailsExpanded" type="hidden" value="false" />
                    <td style="vertical-align: middle !important;">
                        <button id="@order.BPCSCustomerNumber" class="btnExpandCollapseOrderDetail" style="background-color: transparent"><img class="btnCollapsed" height="20" width="20" src="~/Content/img/expandIcon.png" /></button>
                    </td>
                    <td>@order.OrderDate.ToShortDateString()</td>
                    <td>@order.OrderNumber</td>
                    <td>@order.ExternalOrderNumber</td>
                    <td>@order.OrderDistributorId</td>
                    <td>@order.PromisedOrderNumber</td>
                    <td id="invoiceNum">@order.InvoiceNumber</td>
                    <td>@order.InvoiceDate.ToShortDateString()</td>
                    <td>
                        <table id="fixedHeightTableRows" class="table">
                            <tbody>
                                <tr style="">
                                    <td id="ValueLabel" style="float: left; border: none; width:100%; font-weight: bold; padding: 2px;">Ship Name:</td>
                                    <td id="ValueField" style="border:none; width: 60%; padding: 2px;">@order.ShipToName</td>
                                </tr>
                                <tr>
                                    <td id="ValueLabel" style="float: left; border: none; width:100%; font-weight: bold; padding: 2px;">Ship Addr1:</td>
                                    <td id="ValueField" style="border:none; width:60%; padding: 2px;">@order.ShipToAddress1</td>
                                </tr>
                                <tr>
                                    <td id="ValueLabel" style="float: left; border: none; width:100%; font-weight: bold; padding: 2px;">Ship Addr2:</td>
                                    <td id="ValueField" style="border:none; width:60%; padding: 2px;">@order.ShipToAddress2</td>
                                </tr>
                                <tr>
                                    <td id="ValueLabel" style="float: left; border: none; width:100%; font-weight: bold; padding: 2px;">Ship City:</td>
                                    <td id="ValueField" style="border:none; width:60%; padding: 2px;">@order.ShipToCity</td>
                                </tr>
                                <tr>
                                    <td id="ValueLabel" style="float: left; border: none; width:100%; font-weight: bold; padding: 2px;">Ship State:</td>
                                    <td id="ValueField" style="border:none; width:60%; padding: 2px;">@order.ShipToState</td>
                                </tr>
                                <tr>
                                    <td id="ValueLabel" style="float: left; border: none;width:100%; font-weight: bold; padding: 2px;">Ship Zip:</td>
                                    <td id="ValueField" style="border:none; width:60%; padding: 2px;">@order.ShipToZip</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>@order.InvoiceTotal.ToString("0.00")</td>
                    <td>@order.TotalFormsAmount.ToString("0.00")</td>
                    <td>@order.TotalCommissionAmount.ToString("0.00")</td>
                    <td>@order.TotalMarginAmount.ToString("0.00")</td>
                    <td>@order.TotalFreightAmount.ToString("0.00")</td>
                </tr>

                        <!--ORDER DETAIL PARTIAL VIEW ROW-->
                        <tr id="orderHistoryDetailActualRow" class="@i" style="display: none; text-align:center;">
                            <td COLSPAN="14" id="orderDetailPartialView" class="@i">
                                @{
                                    Html.Partial("~/Views/Customer/PartialViews/_OrderDetail.cshtml");
                                }
                            </td>
                        </tr>
                        i++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="18">No order history to display</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
