﻿@model CustomerSearchInternal.ViewModels.CustomerSearchViewModel
@*<head>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
</head>
<script>
    $(document).ready(
    function () {
        $('.datepicker').datepicker({
            changeMonth: true,
            changeYear: true,
            minDate: "-99Y",
            dateFormat: "dd/mm/yyyy"
        });
    });
</script>*@
<style>
    ul#searchTypeList {
        list-style-type: none;
        padding: 5px;
        overflow: hidden;
    }

        ul#searchTypeList li {
            float: left;
            padding: 5px;
        }
</style>
<script>
	$("body").on("click", "#btnImport", function () {
		$("body #importPopUp").show();
	});
</script>

<div id="importPopUp" class="popup shading" style="display: none;">
	@{ Html.RenderPartial("~/Views/Customer/PartialViews/_ImportSpreadsheet.cshtml"); }
</div>

<div class="row col-lg-12 shading" style="text-align:center; border: solid 1px lightgray; margin-top:20px;">
	<div class="col-lg-9">
		@using (Html.BeginForm("SubmitSearch", "Customer"))
		{
			<!--SEARCH CRITERIA LABEL, ROW 1-->
			<div style="border-right: solid 1px lightgray; border-bottom: solid 1px lightgray; margin-left: -30px; padding-top: 2px; background-color: #e6f2ff;">
				<div>
					<h4 style="text-align:center; text-shadow: 0 0 5px #414e6e;">Search Criteria</h4>
				</div>
			</div>

			<!--SEARCH TYPE, ROW 2-->
			<div class="col-lg-12" style="height:20px; border-right: solid 1px lightgray;">
					<ul id="searchTypeList" style="display:inline;">
						<li style="display: inline-block;">
							<p style="font-weight:bold;">Search Type:</p>
						</li>
						<li style="padding-right: 2px;">
							<p>APRO</p>
						</li>
						<li style="display: inline; padding-right:10px; padding-left:2px;">
							@Html.CheckBoxFor(model => model.SearchCriteria.IsAproSearch, new { id = "checkBoxAproSearch" })
						</li>
						<li style="display: inline; padding-right: 2px;">
							<p>Search</p>
						</li>
						<li style="padding-left:2px;">
							@Html.CheckBoxFor(model => model.SearchCriteria.IsCustomerSearch, new { id = "checkBoxCustomerSearch" })
						</li>
					</ul>

					<label class="btn-link" id="btnClear" style="float:right;  vertical-align:central; margin-top: 5px; margin-right: 30px;">Clear</label>
			</div>

			<!--SEARCH CRITERIA TABLE, ROW 3-->
			<div class="col-lg-12" style="margin-bottom:0px; border-right: solid 1px lightgray;">
				@{Html.RenderPartial("~/Views/Customer/PartialViews/_SearchCriteriaFields.cshtml");}
			</div>

			<!--BUTTONS, ROW 5-->
			<div class="col-lg-12" style="height:50px; padding-top:30px; padding-bottom:60px; border-right: solid 1px lightgray;">
				<input id="btnSubmit" type="submit" value="Search" class="btn btn-primary" style="border-radius:5px; border-width:1px; width: 150px;" />
				<input id="btnImport" type="button" value="Import Spreadsheet" class="btn btn-success" style="width: 150px;" />
			</div>
		}
	</div>

    <div class="col-lg-3" style="">
        <!--STANDARDIZED FIELDS COLUMN-->
        <div class="col-lg-12" style="border-bottom: solid 1px lightgray; background-color: #e6f2ff;">
            <div>
                <h4 style="text-align:center;text-shadow: 0 0 3px #414e6e; border-bottom: none; padding-top: 2px;">Standardized Fields</h4>
            </div>
        </div>

        <div class="col-lg-12" style="padding-left: 0px;">
            <div>
                @{Html.RenderPartial("~/Views/Customer/PartialViews/_StandardizedFields.cshtml");}
            </div>
        </div>
    </div>
</div>